h1{
    color:chocolate;
}
.header{
	display:flex;
	flex-direction: column;	
	}

#container{
button{
		height: 50px;
		width: 60px;;
		border-color: chartreuse;
		margin: 10px;
	}
}
.main{
	display:flex;
	flex-direction: row;
	
}
#listeartistes{
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2px;
}
.artiste{
	border: 5px solid black;
	flex: 1;
	margin: 4px;
	text-align: center;
	
	
}
#photocontainer{
	
	
	
	flex: 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	
	
  }
  .mediaImg{
	border: 5px solid black;
	height: 200px;
	text-align: center;
  }
  .zoom{
	border: 5px solid red;
	width: 500;
	height: 500;
  }
  
	

