h1{
    color:chocolate;
}
.header{
	display:flex;
	flex-direction: column;	
	text-align: center;
	img{
		height: 500px;
		width: 400px;;
		border-color: chartreuse;
		margin: 100px;
		text-align: center;
	}
	}

#container{
button{
		height: 50px;
		width: 60px;;
		border-color: chartreuse;
		margin: 10px;
		text-align: center;
	}
}
.body{
.main{
	
	flex-direction: column;	
}
}
#listeartistes{
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2px;
}
.artiste{
	border: 3px solid black;
	background-color: rgb(226, 219, 219);
	border-radius: 25px;
	flex: 1;
	margin: 4px;
	text-align: center;
}
#photocontainer{
	
	padding-top: 1rem;;
	width: fit-content;
	flex: 1;
	display: grid;
	grid-template-columns: repeat(3, 40rem);
	
	
}
  .oeuvre{
	
	padding-top:3rem;
	text-align: center;
	h5{
		margin-top:-1rem;	
	}
	h6{
		margin-top:-20px;	
	}
  }

  .mediaImg{
	border: 5px solid black;
	height: 300px;
	text-align: center;
	margin-bottom: -1em;
  }
  
 

  
	

